<div class="container">
  <div class="card mb-4 box-shadow">
    <div class="card-header-news">
      <h1 class="card-header-text">Trades List</h1>
    </div>
    <alert></alert>
    <ul class="list-group" *ngFor="let item of tradesList">
      <li class="list-group-item d-flex justify-content-between lh-condensed">

          <h3 class="name">{{item.jawatan}}</h3>
          <h1 class="contract">{{item.ts}}</h1>

        <!-- <span class="text-danger"><img *ngIf="item.pic; else elseBlock" height="100px" width="100px" class="rounded-circle" src="{{item.pic}}"><ng-template #elseBlock><img height="100px" width="150px" class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/tk-angular.appspot.com/o/16480.png?alt=media&token=bc3c836d-3563-48ad-8294-b9d2e93dd8c9"></ng-template></span> -->
    </ul>
  </div>
</div>
