<nav class="bg-dark fixed-top">
  <div>
    <h1 class="mainText" (click)="clicked()">TIME<span class="head">KEEPER</span>.my</h1>
  </div>
</nav>
<div class='container-fluid'>
  <div class="row">
    <div class="col-md-8">
      <total-list *ngIf="this.lid" [lid]="this.lid"></total-list>
    </div>
    <div class="col-md-4">
      <log-list *ngIf="this.lid && (this.dashboardType == 0 || this.dashboardType == null)" [lid]="this.lid"></log-list>
      <app-trade-list *ngIf="this.lid && (this.dashboardType == 1)" [lid]="this.lid"></app-trade-list>
    </div>
  </div>
</div>
