
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header-total">
      <h1 class="card-header-text">Total In Site</h1><!--: {{this.lid}}</h1>-->
    </div>
    <div class="card-body-total">
      <span class="total">{{totalIn}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header-expireSoon">
          <!-- <h1 class="card-header-text">Expire Soon</h1> -->
        </div>
        <div class="card-body-expireSoon">
            <span class="totalSub">{{expireSoon}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header-expire">
          <!-- <h1 class="card-header-text">Expired</h1> -->
        </div>
        <div class="card-body-expire">
            <span class="totalSub">{{expire}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
